// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;700&display=swap");

$mainFont: "Lato";
$titleFont: "Montserrat";
$lightText: #ffffff;
$borderColor: rgba(27, 31, 35, 0.15);
$textColor: #323232;

$white: #fff;
$purple: #8d81ac;
$grey: #a291a5;
$headerBgCol: #27262a;
$menuBgCol: #333333;
$menuBorderCol: #3b3b3b;
