@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap");

.main-btn {
  margin: 10px 10px;
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.modal-form {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  height: 252px;
  width: 516px;
  background-color: #e74c3c;
  z-index: 4;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  color: #ffffff;
  font-family: "Arimo";
  text-align: center;
  border-radius: 4px;

  &.mod {
    background-color: darkseagreen;
  }

  &__title {
    margin: 0;
    font-size: 22px;
    line-height: 60px;
    font-weight: 500;
    font-family: "Arimo";
    border-radius: 4px;
    background-color: #d44637;
    padding-left: 30px;
    text-align: left;
    &.mod {
      background-color: darkorange;
      text-align: center;
      padding-left: 0;
    }
  }

  &__text {
    font-size: 15px;
    font-weight: normal;
    margin: 30px 0 0 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  &__close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 20px;
    height: 20px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 28px;
      height: 28px;
      transform: rotate(45deg);
      top: 5px;
      right: 5px;
      border-top: 1px white solid;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 28px;
      height: 28px;
      transform: rotate(-45deg);
      top: 5px;
      right: -14px;
      border-top: 1px white solid;
    }
  }
}

.form-btn {
  margin-right: 10px;
  margin-top: 40px;
  width: 101px;
  height: 41px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #b3382c;
  color: #ffffff;
}

.form-btn.mod {
  background-color: green;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  &__card {
    position: relative;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;

    & img {
      border-radius: 10px;
    }

    &--title {
      text-transform: uppercase;
    }
    &--price {
      display: inline-block;
      padding-left: 10px;
      text-align: left;
      font-weight: bold;
      font-size: 24px;
    }
  }
}

.fa-star {
  padding-left: 10px;
  cursor: pointer;
  color: green;
}

.fa-times-circle {
  font-size: 20px;
  color: rgb(206, 40, 40);
  cursor: pointer;
  position: absolute;
  top: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  &__item {
    border: 1px black solid;
    border-radius: 3px;
    background-color: darkcyan;
    margin-left: 15px;
  }
}
