$main-color: #4fbfa5;
$main-text-color: #fff;
$main-font-family: "Nekst-Regular";
$small-font-size: 15px;
$big-font-size: 18px;
$background-image: url("../img/bg.jpeg");
$main-text-shadow: 0 1px 0 #fff;
$main-border: 1px solid #fff;
